@charset "utf-8";

* {
  margin:0px;
  padding:0px;
  font-family:"Consolas","Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  outline:none;
  border:none;
  color:#666;
  font-size:16px;
}

body {
  min-width:1000px;
}

div {
  position:relative;
}

img {
  width:100%;
  height:100%;
}

button {
  cursor:pointer;
}

button::-moz-focus-inner {
  border:0;
}

ul {
  list-style:none;
}

.container {
  width:400px;
  left:50%;
  margin-left:-200px;
}

.title {
  text-align:center;
  margin-top:20px;
  font-size:32px;
}

.form {
  margin-top:20px;
  border:1px solid #f2f2f2;
  padding-top:10px;
  padding-bottom:20px;
}

.form-ele {
  margin-top:10px;
  height:40px;
  line-height:40px;
}

.form-ele-1 {
  float:left;
  width:100px;
  text-align:right;
}

.form-ele-2 {
  float:left;
  width:156px;
  padding-left:10px;
  padding-right:10px;
  height:38px;
  border:1px solid #f2f2f2;
  margin-left:20px;
  text-align:center;
  transition:border 0.5s;
}

.form-ele-2:focus {
  border:1px solid #fe9c1d;
}

.form-ele-3 {
  float:left;
  width:80px;
  margin-left:20px;
}

.error {
  height:40px;
  line-height:40px;
  text-align:center;
  color:#f00;
}

.btn-con {
  height:40px;
  text-align:center;
}

.btn {
  background-color:#f2f2f2;
  width:200px;
  height:38px;
  border:1px solid #ddd;
}

.btn:hover {
  background-color:#fe9c1d;
  border:1px solid #fe9c1d;
  color:#fff;
}

.btn:active {
  background-color:#ef8b09;
  border:1px solid #ef8b09;
  color:#fff;
}

.result {
  margin-top:20px;
  background-color:#f2f2f2;
}

.result-title {
  text-align:center;
  background-color:#e2e2e2;
  height:40px;
  line-height:40px;
}

.result-ele {
  height:40px;
  line-height:40px;
  padding-left:20px;
  padding-right:20px;
}

.result-ele-1 {
  float:left;
  width:100px;
  text-align:right;
}

.result-ele-2 {
  float:left;
  width:220px;
  margin-left:40px;
}